<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="blueprint/src/reset.css" media="screen, projection">
		<link rel="stylesheet" href="blueprint/src/grid.css" media="screen, projection">
		<link rel="stylesheet" href="blueprint/src/typography.css" media="screen, projection">
		<link rel="stylesheet" href="css/main.css" media="screen, projection">
		<link rel="stylesheet" href="css/syntax.css" media="screen, projection">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="scripts/jquery.routeEnter.js" type="text/javascript" charset="utf-8"></script>
		{{ page.endOfHead }} 
	</head>
	<body>
		<div class="container">
			<article>
				<header class="pageHeader">
					<h1>{{ page.title }}</h1>			
				</header>
				<nav id="mainNav">
					<ul>
						<li><a href="./">Home</a></li>
						<li><a href="{{ page.fullLink }}">Download</a></li>
						<li><a href="./">Github</a></li>
					</ul>
				</nav>	
				<div class="content">{{ content }}</div>
			</article>
		</div>
	</body>
</html>